@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  top: 0;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #F4AF23;
  background-image: -webkit-linear-gradient(90deg,
      transparent,
      rgba(0, 0, 0, 0.4) 50%,
      transparent,
      transparent)
}

.container {
  height: 60px;
  background-color: #001e6090;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-left: 20px;
}


.container .logo {
  max-width: 250px;
  padding: 0 4px;
}

.container .logo a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
}

.container .logo a img {
  max-width: 100%;
  max-height: 60px;
  cursor: pointer;
}

.container .navbar {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 0px;
}

.container .navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  display: block;
  height: 60px;
  padding: 0 10px;
  line-height: 60px;
  cursor: pointer;
}

.container .navbar ul li .activa {
  text-decoration: none;
  color: #F4AF23;
}

.container .navbar ul li .compra {
  text-decoration: none;
  color: #ffffff;
  background-color: #F4AF23;
}

.container .navbar ul li a:hover {
  color: #F4AF23;
  cursor: pointer;
}

.container .navbar ul li .compra:hover {
  color: #000000;
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;

  padding: 0 10px;
  cursor: pointer;
  color: #000000;
}

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.container .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

.active,
.cambio-img:hover {
  background-color: #F4AF23;
}

.copy {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.copy a {
  color: #F4AF23;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.copy a:hover {
  color: #F4AF23;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.ivao {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.redes {
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.redes a {
  color: #F4AF23;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.redes a:hover {
  color: #F4AF23;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.idioma {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  position: fixed;
  top: 60px;
  right: 10px;
}

.textoinicial {
  display: flex;
  z-index: 1;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.textoinicial h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  font-style: italic;
}

.textoinicial h2 {
  color: #F4AF23;
  font-size: 50px;
  font-weight: 500;
  font-style: italic;
}

.nosotros {
  height: 85%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  overflow: auto;
}

.contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #001e6090;
  height: auto;
  width: 100%;
  z-index: -1;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

.contenido p {
  text-align: justify;
  font-weight: 200;
  font-size: 18px;
}

.contenido img {
  width: 100%;
  height: auto;
}

.contenido p a {
  color: #F4AF23;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.contenido p a:hover {
  color: #F4AF23;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.tabla {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #001e6090;
  width: 100%;
  z-index: -1;
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;
}

.tabla h2 {
  width: 33%;
  text-align: center;
  color: #F4AF23;
  font-weight: 700;
  font-size: 30px;

}

.tabla h3 {
  width: 33%;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

.tabla h3 ion-icon {
  font-weight: 300;
  font-size: 20px;
  color: #F4AF23;
}

.tabla a {
  width: 33%;
}

.tabla a img {
  height: 40px;
  width: auto;
  margin-left: 35%;
}

.oscurecer {
  width: 100%;
  height: 100%;
  background-color: #00000057;
  position: absolute;
  z-index: -10;
}

#fondo1 {
  position: absolute;
  z-index: -20;
  background: url(2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#fondo2 {
  position: absolute;
  z-index: -20;
  background: url(3.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#fondo3 {
  position: absolute;
  z-index: -20;
  background: url(4.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#fondo4 {
  position: absolute;
  z-index: -20;
  background: url(5.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 850px) {

  .redes {
    bottom: 80px;
  }

}


@media only screen and (max-width: 650px) {

  .tabla {
    flex-direction: column;
    height: auto;
  }

  .container {
    justify-content: space-between;
  }

  .container .logo {
    flex: 1;
  }

  .container .navbar {
    flex: 0;
  }

  .container .navbar ul {
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left .3s;
  }

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .container .navbar ul .close {
    display: block;
  }

  .container .navbar .icon-bar {
    display: flex;
  }

  .container .navbar ._Menus-show {
    left: 0;
  }

  .prev,
  .next {
    font-size: 15px
  }


}

@media only screen and (max-width: 550px) {

  .redes {
    bottom: 80px;
  }

  .ivao {
    bottom: 40px;
  }

}

@media only screen and (max-width: 380px) {

  .redes {
    bottom: 25px;
  }

  .ivao {
    bottom: 25px;
  }

  .ivao img {
    width: 90px;
  }

  .copy {
    bottom: 0px;
    font-size: 10px;
  }

}