* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {  
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*a: a todos los links*/
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

p {
  padding-top: 10px;
}

.enlaces {
  color: black;
}

body a:hover {
  color: #efb810;
}


/*Todos los links del panel de navegacion*/
nav a {
  font-weight: 600;
  margin: 10px;
}

.border {

  border-bottom: 1px dotted #ccc;
  margin-top: 20px;
}

h1,
h2,
h3 {
  margin-top: 20px;
}

ul {
  padding-left: 30px;
}

li {
  margin-top: 10px;
}

/*Display: flex lo pone todo horizontal 
justify-content: space-between lo pone cada uno en una esquina
align-items:center alinea los elementos pero al centro vertical
text-align: center lo alinea pero en el horizontal
*/

/*Header ->*/
header {
  display: flex;
  min-height: 50px;
  justify-content: space-between;
  background-color: #313131;
  align-items: center;
  padding: 4px 30px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 50px;
  max-height: 50px;
}

.logo img {
  height: 50px;
}

.logo h3 {
  color: #efb810;
  white-space: nowrap;
  padding-left: 10px;
  font-size: 20px;
  padding-bottom: 22px;
}

.language {
  max-width: 50px;
  display: flex;
  align-items: center;
}

.language img {
  width: 30px;
}

.nav-list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.abrir-menu,
.cerrar-menu {
  display: none;
}

/*<- Header*/

/*Medias ->*/
@media(max-width:952px) {


  .logo h3 {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .columna-izquierda p {
    text-align: left;

  }

  .columna-izquierda,
  .columna-centro,
  .columna-derecha {
    min-width: 100%;
    margin: 0;

  }

}

@media screen and (max-width: 650px) {

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ecececec;
  }
  .formulario-explicacion{
    align-items: center;
    justify-content: center;
  }
}


/*<-Medias*/

/*Staff ->*/
.contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding-top: 10px;
}

.staff .contenido p {
  padding-top: 10px;
}

.staff .informacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.staff .informacion .grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  white-space: nowrap;

}

.staff img {
  border-radius: 50%;
  height: 200px;
}

.staff h3,
.staff p {
  margin: 5px;
  flex-wrap: nowrap;
}

.contenido a {
  color: black;
}

/*<- Staff*/

/*Politica de Privacidad ->*/
.privacepolicy {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-top: 10px;
  text-align: left;
}

/*<-Politica de Privacidad*/

/*Lista Pilotos->*/

.table-container {
  border: solid 1px black;
  margin: 0 auto;
  text-align: center;
  overflow-x: auto;
  max-width: 100%;
  align-items: center;

}

.table-container table {
  color: black;
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-container thead {
  background: gray;
  font-size: 20px;
}

.table-container th {
  padding: 1em;
  text-transform: uppercase;
}

.table-container td {

  border-bottom: solid 1px black;
}

.table-container a {
  color: black;
}

.table-container img {
  width: 50px;
}

/*<-Lista Pilotos*/


/*Footer->*/
footer {
  width: 100vw;
  background-color: #313131;
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.columna-izquierda,
.columna-centro,
.columna-derecha {
  width: 33%;
  color: white;
}

.columna-izquierda {
  text-align: left;
}

.columna-centro {
  text-align: center;
}

.columna-derecha {
  text-align: right;
}

.logo-peru {
  width: 140px;
}

.logo-discord {
  width: 30px;
  height: 30px;
}

footer p {
  margin: 5px 0;
  /* Espacio entre los párrafos */
  font-size: 12px;
  /* Tamaño de letra reducido */
  line-height: 1.2;
  /* Altura de línea reducida */

}

/*<-Footer*/

/*Titulo pagina principal->*/

.nosotros {
  background-image: url('../imagenes/pagPrincipal/grupo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 20vh;
  /* altura del 50% de la altura de la pantalla */
  display: flex;
  /* utilizar un contenedor flexible */
  align-items: center;
  /* alinear verticalmente en el centro */
  justify-content: center;
  /* alinear horizontalmente en el centro */
}

.nosotros .titulo {
  text-align: center;
  /* alinear el texto del título en el centro */
  font-size: 50px;
  font-weight: bold;
  color: #333;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  letter-spacing: 4px;
  font-family: 'Montserrat', sans-serif;
  animation: aparecer 1.5s ease-out backwards;
}

.nosotros img {
  width: 70px;
}


@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*<-Titulo pagina principal*/


/*Explicacion pagina principal->*/
.explicacion {
  margin-left: 7%;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*<-Explicacion pagina principal*/


/*Linea del Tiempo Pagina Principal->*/
.procesos-container {
  margin-left: 10%;
  width: 80%;
  margin-bottom: 10px;
}

.procesos-seccion {
  position: relative;
  margin-bottom: 10px;
}

.procesos-seccion::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 120%;
  background-color: #efb810;
  left: -15px;
  top: 1px;

}

.procesos-seccion::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #efb810;
  border-radius: 50%;
  left: -23px;
  top: 1px;
}

/*<-Linea del Tiempo Pagina Principal*/

/*Formulario*/
.formulario-explicacion {
  max-width: 70%;
  padding:0px 10%;
}

/*
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px  0px ;
}

form .campo,
textarea {
  padding: 15px;
  font-size: 15px;
  border: 1px solid orange;
  margin-bottom: 20px;
  border-radius: 3px;
}

form .campo {
  width: 30%;
}

form textarea {
  width: 50%;
}


.btn-enviar {
  width: 100px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: #efb810;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn-enviar:hover {
  background: orange;
}
*/