* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*a: a todos los links*/
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

p {
  padding-top: 10px;
}

.enlaces {
  color: black;
}

body a:hover {
  color: #efb810;
}

h3 {
  font-size: 40px;
}

.border {

  border-bottom: 1px dotted #ccc;
  margin-top: 20px;
}

.linea-dibujo {
  margin-top: 40px;
  height: 2px;
  background-image: linear-gradient(to right, transparent 25%, gold 25%, gold 75%, transparent 75%);
}

h4 {
  font-size: 45px;
  font-weight: normal;

}

h6 {
  font-size: 20px;
  padding-top: 13px;
}

/*Display: flex lo pone todo horizontal 
justify-content: space-between lo pone cada uno en una esquina
align-items:center alinea los elementos pero al centro vertical
text-align: center lo alinea pero en el horizontal
*/

/*Header ->*/
header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  background-color: #313131;
  align-items: center;
  padding: 4px 30px;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 50px;
  max-height: 50px;
}

.logo img {
  height: 50px;
}

.logo h3 {
  color: #efb810;
  white-space: nowrap;
  padding-left: 10px;
  font-size: 20px;
  padding-bottom: 22px;
  padding-top: 20px;
}

.language {
  max-width: 50px;
  display: flex;
  align-items: center;
}

.language img {
  width: 30px;
}


.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-top: 10px;
  margin: 0;
}

.nav-list>li>a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.nav-list>li:hover {
  background-color: rgb(83, 83, 83);
}

.menu-vertical {
  position: absolute;
  list-style-type: none;
  width: 133px;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-list li:hover .menu-vertical {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu-vertical li:hover {
  background-color: rgba(0, 0, 0, 0.315);
}

.menu-vertical li a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px;
  text-decoration: none;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}





/*<- Header*/

/*Medias ->*/
@media(max-width:1050px) {
  .logo h3 {
    display: none;
  }
}

@media(max-width:952px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .columna-izquierda p {
    text-align: left;

  }

  .columna-izquierda,
  .columna-centro,
  .columna-derecha {
    min-width: 100%;
    margin: 0;

  }

}

@media screen and (max-width: 800px) {

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;

  }

  .nav-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-list li a {
    color: #ecececec;
  }

  .menu-vertical {
    display: none;
    position: absolute;
    text-align: left;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
  }

  .menu-vertical li {
    padding: 5px;
    background-color: #3e3e3e;
  }

  .nav-list li:hover .menu-vertical {
    display: contents;
    transform: translateY(0);
    opacity: 1;

  }

  .formulario-explicacion {
    align-items: center;
    justify-content: center;
  }
}


/*<-Medias*/


.tri-layout-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: "a b c";
}

.tri-layout-container .tri-layout-right {
  grid-area: c;
}

.tri-layout-container .tri-layout-left {
  grid-area: a;
}

.tri-layout-container .tri-layout-middle {
  grid-area: b;
  padding: 16px;
  min-width: 0;
}

.tri-layout-container .tri-layout-middle h3 {
  text-align: center;
  font-size: 30px;

}

.tri-layout-container .tri-layout-middle p {
  text-align: justify;

}

@media screen and (max-width: 1400px) {
  .tri-layout-container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: "a b c";
  }
}

@media screen and (max-width: 1200px) {
  .tri-layout-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: "a b c";
  }

}

@media screen and (max-width: 650px) {
  .tri-layout-container {
    display: grid;
    grid-template-columns: 1fr 19fr 1fr;
    grid-template-areas: "a b c";
  }
}



.nosotros-container {
  background-color: rgb(255, 219, 88);
  padding: 8px 12px;
  border-radius: 15px;
  margin-bottom: 10px;
  border: black solid 1px;
  box-shadow: 2px 2px 1px black;
}


.estadisticas-container {
  margin-top: 40px;
  display: flex;
  width: 100%;

}

@media screen and (max-width: 1200px) {
  .estadisticas-container {
    margin-left: 10px;
    display: flex;
    justify-content: center;

  }
}

.estadisticas-particular {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estadisticas-particular h4 {
  animation: increment 3s ease-out;
  /* Duración y animación */
}

@keyframes increment {
  from {
    content: "0";
    /* Inicio desde 0 */
  }

}





.container-explicacion {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.item-explicacion {
  width: 300px;
  /* Tamaño fijo para el ancho del elemento */
  margin: 10px;
  /* Espaciado entre los elementos */
  text-align: center;
  margin: 20px;
  background-color: #f3f2f24f;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(20, 3, 3, 0.208);
  transition: transform 0.4s;
}



.item-explicacion:hover {
  transform: scale(1.15);

}

.item-explicacion img {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.item-explicacion p {
  margin: 10px;
  text-align: justify;
}

.staff {
  background-color: rgb(236, 197, 59);
  color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

}


.avion-background {
  position: relative;
  background-image: url('../imagenes/pagPrincipal/avion-linea.png');
  background-size: contain;
  /* La imagen mantendrá su proporción y ajustará su tamaño al contenedor */
  background-position: center center;
  background-repeat: no-repeat;
}

.contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding-top: 10px;
}

.staff .contenido p {
  padding-top: 10px;
}

.staff .informacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.staff .informacion .grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  white-space: nowrap;

}

.staff img {
  border-radius: 50%;
  height: 200px;
  box-shadow: 0 0 20px rgb(20, 3, 3);
}

.staff h3,
.staff p {
  margin: 5px;
  flex-wrap: nowrap;
}

.contenido a {
  color: black;
}

.funcion {
  text-decoration: underline;
  font-size: 16px;
}

.staff .VID {
  color: black;
  font-weight: bold;

}

/* Estilo para los grupos que se muestran arriba por defecto */
.grupo-arriba {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Estilo para los grupos que se muestran abajo al hacer clic */
.grupo-abajo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  order: 1;
  /* Cambia el orden para mostrarlos debajo */
}





.table-container {
  max-width: 700px;
  width: 100%;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

}

tbody {
  border-bottom: 1px solid black;
}

td,
th {
  padding-top: 5px;
  vertical-align: middle;
  text-align: center;
  /* Alinear el texto en el centro */
}

td {
  border-bottom: 0.5px solid black;
}

tbody tr:hover {
  background-color: rgba(87, 83, 83, 0.249);
}

a {
  text-decoration: none;
}

.table-container .callsign,
.table-container .VID {
  color: black;
  font-weight: normal;
}

.table-container a:hover {
  text-decoration: underline;
}

.table-container img {
  width: 4rem;
  border-radius: 4px;
}






/*Staff ->*/


/*<- Staff*/

/*Politica de Privacidad ->*/
.privacepolicy {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-top: 10px;
  text-align: left;
}

/*<-Politica de Privacidad*/



/*<-Lista Pilotos*/


/*Footer->*/
footer {
  background-color: #313131;
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.columna-izquierda,
.columna-centro,
.columna-derecha {
  width: 33%;
  color: white;
}

.columna-izquierda {
  text-align: left;
}

.columna-centro {
  text-align: center;
}

.columna-derecha {
  text-align: right;
}

.logo-peru {
  width: 140px;
}

.logo-discord {
  width: 30px;
  height: 30px;
}

footer p {
  margin: 5px 0;
  /* Espacio entre los párrafos */
  font-size: 12px;
  /* Tamaño de letra reducido */
  line-height: 1.2;
  /* Altura de línea reducida */

}

/*<-Footer*/

/*Titulo pagina principal->*/

.nosotros {
  background-image: url('../imagenes/pagPrincipal/grupo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 20vh;
  /* altura del 50% de la altura de la pantalla */
  display: flex;
  /* utilizar un contenedor flexible */
  align-items: center;
  /* alinear verticalmente en el centro */
  justify-content: center;
  /* alinear horizontalmente en el centro */
}

.nosotros .titulo {
  text-align: center;
  /* alinear el texto del título en el centro */
  font-size: 50px;
  font-weight: bold;
  color: #333;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  letter-spacing: 4px;
  font-family: 'Montserrat', sans-serif;
  animation: aparecer 1.5s ease-out backwards;
}

.nosotros img {
  width: 70px;
}


@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*<-Titulo pagina principal*/


/*Explicacion pagina principal->*/

/*<-Explicacion pagina principal*/


/*Linea del Tiempo Pagina Principal->*/


/*<-Linea del Tiempo Pagina Principal*/

/*Formulario*/


.form-container {
  text-align: center;
}

.form-container h2 {
  font-size: 40px;
  color: #000000;
  margin-bottom: 10px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(20, 3, 3);
  width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  margin-bottom: 25px;

}

.form-content {
  display: flex;
  flex-direction: column;
}

label {
  color: #000000;
  font-size: 15px;
  margin-bottom: 15px;
}

input,
textarea {
  padding: 20px 15px;
  box-shadow: 0 0 20px rgba(20, 3, 3, 0.372);
  border: 0;
  outline: none;
  border-radius: 25px;
  color: #000000;
  font-size: 16px;
}


::placeholder {
  color: #9f9f7e;
  font-size: 16px;

}

textarea {
  margin-bottom: 40px;

}

.btn {
  padding: 17px 15px;
  width: 180px;
  align-self: center;
  text-transform: capitalize;
  color: #4b4b08;
  font-size: 16px;
  box-shadow: 0 0 20px (0, 0, 0, 0.2);
  cursor: pointer;
  background: linear-gradient(90deg,
      rgb(165, 177, 3)0%,
      rgb(248, 250, 110)100%);

}

.success {
  position: absolute;
  top: 50px;
  color: rgb(32, 227, 2);
  font-size: 18px;
}

.error {
  position: absolute;
  top: 50px;
  color: #E02D00;
  font-size: 18px;
}

@media(max-width:700px) {

  form {
    width: 90%;
  }

  .form-group {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
  }

  textarea {
    margin-bottom: 30px;
  }


}



.callsingDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  background-color: #252525;
  color: #FFCD02;
  width: 630px;
  margin: 0 auto;
  /* Centra horizontalmente en la página */
  margin-top: 15px;
}

.tablaVuelos {
  margin: auto;
}

.tablaVuelos-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 587px;
}

.tablaVuelos-letter {
  position: relative;
  background-image: url('../imagenes/tablaParticipaciones/espacio.png');
  background-repeat: no-repeat;
  background-size: 15px 21px;
  width: 15px;
  height: 21px;
  max-width: 15px;
  max-height: 21px;
}

.tablaVuelos-letra-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #FFCD02;
  font-family: Tahoma, Verdana;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.tablaVuelos-mask {
  position: relative;
  background-image: url('../imagenes/tablaParticipaciones/mascara.png');
  background-repeat: no-repeat;
  background-size: 15px 21px;
  width: 15px;
  height: 21px;
  max-width: 15px;
  max-height: 21px;
}

.tablaVuelos-dep1 {
  position: relative;
  background-image: url('../imagenes/tablaParticipaciones/icon_dep1.png');
  background-repeat: no-repeat;
  background-size: 15px 21px;
  width: 15px;
  height: 21px;
  max-width: 15px;
  max-height: 21px;
}

.tablaVuelos-dep2 {
  position: relative;
  background-image: url('../imagenes/tablaParticipaciones/icon_dep2.png');
  background-repeat: no-repeat;
  background-size: 15px 21px;
  width: 15px;
  height: 21px;
  max-width: 15px;
  max-height: 21px;
}

.tablaVuelos-arr1 {
  position: relative;
  background-image: url('../imagenes/tablaParticipaciones/icon_arr1.png');
  background-repeat: no-repeat;
  background-size: 15px 21px;
  width: 15px;
  height: 21px;
  max-width: 15px;
  max-height: 21px;
}

.tablaVuelos-arr2 {
  position: relative;
  background-image: url('../imagenes/tablaParticipaciones/icon_arr2.png');
  background-repeat: no-repeat;
  background-size: 15px 21px;
  width: 15px;
  height: 21px;
  max-width: 15px;
  max-height: 21px;
}

.tablaVuelos-av1 {
  position: relative;
  background-image: url('../imagenes/tablaParticipaciones/icon_flg1.png');
  background-repeat: no-repeat;
  background-size: 15px 21px;
  width: 15px;
  height: 21px;
  max-width: 15px;
  max-height: 21px;
}

.tablaVuelos-av2 {
  position: relative;
  background-image: url('../imagenes/tablaParticipaciones/icon_flg2.png');
  background-repeat: no-repeat;
  background-size: 15px 21px;
  width: 15px;
  height: 21px;
  max-width: 15px;
  max-height: 21px;
}

.tablaVuelos-rel1 {
  position: relative;
  background-image: url('../imagenes/tablaParticipaciones/rel1.png');
  background-repeat: no-repeat;
  background-size: 15px 21px;
  width: 15px;
  height: 21px;
  max-width: 15px;
  max-height: 21px;
}

.tablaVuelos-rel2 {
  position: relative;
  background-image: url('../imagenes/tablaParticipaciones/rel2.png');
  background-repeat: no-repeat;
  background-size: 15px 21px;
  width: 15px;
  height: 21px;
  max-width: 15px;
  max-height: 21px;
}

@media(max-width:843px) {
  .tablaVuelos {
    overflow-x: auto;
  }

  .callsingDiv {
    width: auto;
  }
}



.faq-card {
  border-bottom: 2px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.faq-content {
  display: none;
  padding: 10px;
}

.faq-card h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-icon {
  order: 2;
  margin-left: 10px;
}

.faq-icon {
  transition: transform 0.3s ease-in-out;
}

.icon-rotate {
  transform: rotate(180deg);
}
